/* Estilo para el icono de barras (SVG) */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px; /* Ajusta el tamaño según prefieras */
  height: auto;
}

/* Menú de navegación en móvil */
nav {
  display: flex;
  justify-content: flex-end;
  background-color: #222223;
  padding: 10px;
  position: relative;
}

nav a {
  color: #ffffff;
  margin: auto 15px;
  font-weight: bold;
}

nav a:hover {
  color: #cba46c;
}

/* Estilos del menú expandido en móvil */
nav ul {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  background-color: #222223;
  padding: 10px;
}

nav ul li {
  margin: 10px 0;
}

.menu-active nav ul {
  display: flex;
}

/* Estilos responsivos */
@media (max-width: 767px) {
  nav {
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .button {
    margin-top: 10px;
  }
}
